@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* 수평 및 수직 가운데 정렬 */
.flex-center {
 @apply flex items-center justify-center 
}

@layer components {
  .button-full {
    @apply w-full h-[54px];
  }
  .button-xlarge {
    @apply w-[165.36px] h-[55.99px];
  }
  .button-large {
    @apply w-[145px] h-[49px];
  }
  .button-medium {
    @apply w-[130px] h-[41px];
  }
  .button-semi-rounded {
    @apply rounded-[10px];
  }
  .button-rounded {
    @apply rounded-[34.5px];
  }
  .button-shadow {
    @apply shadow-[0_4px_19px_0_rgba(119,147,65,0.3)];
  }
  .input-login {
    @apply border border-solid border-[#ADADAD] focus:border-[#4285F4];
  }
}

/* 약관 동의 우측 스크롤 바 */
.overflow-content {
  @apply overflow-y-auto scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-thumb-[#F5A200] scrollbar-track-[#E2E2E2];
}

@keyframes heart-balloon {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scale(1);
    opacity: 0;
  }
}

.animated-balloon-3 {
  animation: heart-balloon 3s linear infinite;
}
.animated-balloon-4 {
  animation: heart-balloon 4s linear infinite;
}
.animated-balloon-5 {
  animation: heart-balloon 5s linear infinite;
}
.animated-balloon-6 {
  animation: heart-balloon 6s linear infinite;
}
.animated-balloon-7 {
  animation: heart-balloon 7s linear infinite;
}
/* 중앙정렬 */
.flex-center {
  @apply flex justify-center items-center
}

.overflow-FAQ {
  @apply overflow-y-scroll scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-thumb-[#FFA4A475] scrollbar-track-[#E2E2E2];
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/NotoSansKR-Thin.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/NotoSansKR-Bold.ttf');
}

/* 에스코어 드림 */

@font-face {
  font-family: 'scdream1';
  font-weight: 100;
  src: url('/fonts/SCDream1.otf');
}
@font-face {
  font-family: 'scdream2';
  font-weight: 200;
  src: url('/fonts/SCDream2.otf');
}
@font-face {
  font-family: 'scdream3';
  font-weight: 300;
  src: url('/fonts/SCDream3.otf');
}
@font-face {
  font-family: 'scdream4';
  font-weight: 400;
  src: url('/fonts/SCDream4.otf');
}
@font-face {
  font-family: 'scdream5';
  font-weight: 500;
  src: url('/fonts/SCDream5.otf');
}
@font-face {
  font-family: 'scdream6';
  font-weight: 600;
  src: url('/fonts/SCDream6.otf');
}
@font-face {
  font-family: 'scdream7';
  font-weight: 700;
  src: url('/fonts/SCDream7.otf');
}
@font-face {
  font-family: 'scdream8';
  font-weight: 800;
  src: url('/fonts/SCDream8.otf');
}
@font-face {
  font-family: 'scdream9';
  font-weight: 900;
  src: url('/fonts/SCDream9.otf');
}

/* poppins */

@font-face {
  font-family: 'poppins';
  font-weight: 100;
  src: url('/fonts/Poppins-Thin.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 200;
  src: url('/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 300;
  src: url('/fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 400;
  src: url('/fonts/Poppins-Regular.otf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 500;
  src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 600;
  src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 700;
  src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 800;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: 'poppins';
  font-weight: 900;
  src: url('/fonts/Poppins-Black.ttf');
}

/* Roboto */

@font-face {
  font-family: 'roboto';
  font-weight: 100;
  src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'roboto';
  font-weight: 300;
  src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'roboto';
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto';
  font-weight: 500;
  src: url('/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'roboto';
  font-weight: 600;
  src: url('/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'roboto';
  font-weight: 900;
  src: url('/fonts/Roboto-Black.ttf');
}

/* 폰트 클래스 정리 */
   
.scd_nav{font-family: scdream3;
  letter-spacing: -0.02rem;
font-size:14px;}


/* 메인 추가 css 정리 */

.section_1, .section_2, .section_3, .section_4{
  height:100vh;
  width:inherit;
}

/* 메인 section_1 */

.x_hidden{overflow-x:hidden;}
.mask{
  /* clip-path: ellipse(493px 440px at center);
  top: 90%;
  left: 22%;
  position: absolute;
  margin-top: -18%; */
  z-index: 1;
  width: 100%;
  height: 110vh;
  justify-content: center;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
.video{
  z-index: 0;
  width: 100vw;
  height: 100%;
  background-color: #0c2d44;
  position: absolute;
  top: 19%;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: translate(0);
}

.title{letter-spacing:-0.08rem; font-size: 5.4rem; line-height: 1;}

.sub_txt{line-height: 3.1rem; letter-spacing:-0.08rem; text-align: center;}

/* main_홍보동영상 플레이 부분 css */

.ad_img{
  width: 175px;
  height: 246px;
  flex-shrink: 0;
  border-radius: 50px;
  right:0;
  cursor:pointer;
  background: url(../../../public/images/samples/main_ad_1.png), lightgray -67.427px 1.096px / 189.34% 126.23% no-repeat;
}
.ad_img_2{
  width: 139px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 41px;
  cursor:pointer;
  border: 7px solid #FFF;
  position: absolute;
  right:65%;
  bottom:-20%;
  margin-top:-105px;
  background: url(../../../public/images/samples/main_ad_2.png), lightgray 50% / cover no-repeat;
}

.ad_img:hover, .ad_img_2:hover, .ad_play:hover{
  transform:scale(1.1);
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.parents_ad{
  position: absolute;
  right:5%;
  top:50%;
  margin-top:-105px;
  z-index:3;
}
.ad_play{
  position: absolute;
  width: 68px;
  height: 69px;
  flex-shrink: 0;
  cursor:pointer;
  z-index: 10;
  right: -2%;
  top: 85%;
}

.section_1 .btns{
  display:flex;
  justify-content:space-between;
  margin:0 auto;
  text-align:center;
  max-width:347px;
  width:100%;
  position: relative;
  left: 50%;
  margin-left: -180px;
  top: 36%;
  z-index:3;
}
.section_1 .btn_view{
  width: 47%;/*161.933px*/
  height: 55px;
  flex-shrink: 0;
  border-radius: 37.5px;
  border: 2px solid #FFF;
  color:#fff;
  font-family:S-Core Dream;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding:12px 0;
}

.section_1 .btn_make{
  width: 47%;/*161.933px*/
  height: 55px;
  flex-shrink: 0;
  border-radius: 37.5px;
  border: 2px solid #FFDED3;
  background:#FFDED3;
  color:#4F7075;
  font-family:S-Core Dream;
  font-size: 18px;
  font-weight: 600;
  padding:12px 0;
  letter-spacing: 1px;
}

.txt_guide{    z-index: 3;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 17%;
  left: 3.05556vw;
  right: 3.05556vw;}

.txt_guide .view_more, .txt_guide .share{
  letter-spacing: 0.17em;
  text-transform: uppercase;
  font-family: Suisseintl, sans-serif;
  font-size: 0.83em;
  font-weight: 600;
  line-height: 164%;
  text-decoration: none;
  color:#FF4DA2;
}
.txt_guide .view_more:hover, .txt_guide .share:hover{
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

/* 큰 스크롤 이미지 css */
.scroll_bg_wrap{
  z-index: 2;
  height: 30vh;
  max-height: 30vw;
  min-height: 15.0694vw;
  transform-origin: 50% 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate3d(0vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;
}

.full_bg{
  background:url('../../../public/media/arc_mask_test_3.png');
  will-change: transform; transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
  vertical-align: middle;
  display: inline-block;
  width: 101vw;
  height: 278vw;/*190.764vw*/
  max-width: none;
  transform-origin: 50% 100%;
  object-fit: cover;
  position: absolute;
  top: -260vw;
  bottom: auto;
  left: -0.5vw;
  right: -0.5vw;
  z-index:5;
}

.menu-animation-dummy {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

/*// end 메인 section_1 */

/* section_2 */

.section_2{position: relative;overflow: hidden; background: #fff; z-index: 10;}

.section_2 .txt{
  display:block;
  text-align: center;
  justify-content:center;
  font-family: S-Core Dream;
  margin:8% auto 0;
}
/* flex flex-col items-center justify-center text-black pt-52 */

.section_2 .bg_deco{
  z-index: 0;
}

.orange_r{
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 500px;
  opacity: 0.5;
  background: var(--Orange, #FF5722);
  filter: blur(250px);
  left:-15%;
  top:30%;
  position: absolute;
}

.yellow_r{
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 500px;
  opacity: 0.5;
  background: var(--Yellow, #FACD49);
  filter: blur(250px);
  right:-15%;
  top:70%;
  position: absolute;
}

.section_2 .big_txt{
  color:#404040;
  font-size: 4.5rem ; /*64px*/  
  font-style: normal;
  font-weight: 500;
  line-height: 152.9%; /* 97.856px */
  letter-spacing:-0.08em;
  margin-bottom:30px;
}

.pink_txt{
  color:#F968A5;
}

.section_2 .sub_txt{
  color:#B7B6BA;
  font-size:2.2rem;
  letter-spacing:-0.08em;
}

.sec2_con_wrap{
  display: flex;
}

.tab_menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 605px;
  margin: 1% auto 0;
  z-index: 10;
}

.tab_menu .tab_li{
  display: flex;
  padding: 12px 52px;
  align-items: flex-start;
  gap: 8px;
  font-family: Noto Sans KR;
  color: #404040;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 100px;
  border: 1px solid var(--Light, #EEE);
  background: var(--white, #FFF);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.tab_menu .tab_li:hover{
  color: var(--Light, #EEE);
  border-radius: 100px;
  background: #404040;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 2px 20px 0px rgba(0, 0, 0, 0.09), 0px 5px 27px 0px rgba(0, 0, 0, 0.05), 0px 8px 32px 0px rgba(0, 0, 0, 0.01), 0px 20px 35px 0px rgba(0, 0, 0, 0.00);
}

.worldmap::before{
  content:"";
  background:url('../../../public/images/samples/worldmap.png');
  max-width:975px;
  width:100%;
  height:374px;
  position: absolute;
  left: 50%;
  margin-left: -474px;
  margin-top: 35px;
}

.sec2_img_wrap{
  position:absolute;
  background:url('../../../public/images/samples/sec2_img_wrap.png')no-repeat;
  max-width:885px;
  width:100%;
  height:1498px;
  left:50%;
  margin-left:-443px;
}

/* p-10 font-sans font-thin title */
