@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "BlackHanSans";
  src: url("/fonts/BlackHanSans-Regular.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
