name: Check Errors

on:
  workflow_call:

jobs:
  err_check:
    name: Check Errors
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

    #   - name: Set Node.js 16.x
    #     uses: actions/setup-node@v3
    #     with:
    #       node-version: 18.18

      - name: Set Node.js 18.x
        uses: actions/setup-node@v4
        with:
            node-version: 18.18
  
      - name: Setup yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install

      - name: Check prettier
        run: yarn prettier

      - name: Check lint
        run: yarn lint

      - name: Check tsc-project
        run: yarn tsc-project